<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人信息</title>
    <!--    <head th:insert="~{import :: head}"></head>-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<body>
    <div th:insert="~{navigation :: nav}"></div>
    <div class="col-md-4">
        <img th:src="${user.avatarUrl}" alt="/images/default-avatar.png" class="img-circle center-block" style="width: 200px; height: 200px;margin-top: 20%">
    </div>

    <div class="col-md-4">
        <div style="margin-top: 20%">
            <form enctype="multipart/form-data" action="/updateInfo" method="post">
                <div>
                    <label for="username">昵称</label>
                    <input class="form-control" id="username" name="username" th:value="${user.name}">
                </div>
                <div>
                    <label for="bio">个人简介</label>
                    <textarea class="form-control" rows="5" name="bio" id="bio" th:text="${user.bio}"></textarea>
                </div>

                <div class="form-group">
                    <label for="avatar">上传头像</label>
                    <input type="file" id="avatar" name="avatar">
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-default">修改</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
